/* styles.css */

/* Import Google Font Spartan */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

/* THIS IS THE HEADER SECTION WHICH CONTAINS THE NAVIGATION BAR */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 300px;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Spartan', sans-serif; /* Apply Spartan font as fallback */
    background-color: #f9f9f9;
    overflow: hidden; /* Hide background overflow */
}


/* Background */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgrounds/Background-1.jpg'); 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: blur(5px);
    z-index: -1;
}

/* Form Container */
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
}

/* Reset Password Form */
#reset-password-form {
    display: block;
}

#reset-password-form h2 {
    margin-bottom: 20px;
}

#reset-password-form input {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(246, 150, 28);
    border-radius: 5px;
}

#reset-password-form button {
    background-color: rgba(160, 0, 42);
    color: #fff;
    border: none;
    padding: 15px 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-password-form button:hover {
    background-color: rgba(246, 150, 28);
}
